.catalogo .header { height: 60vh; }

.catalogo .header:before {
  background: #1B2030 url("../img/ilion-analitica-fondo9.jpg") top center no-repeat;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calidad .header:before {
  background: #1B2030 url("../img/ilion-analitica-fondo10.jpg") top center no-repeat;
}

.catalogo h4 {
  font-weight: bold;
  padding: 1.5rem;
}

.cell ul {
  padding: 1rem;
  color: #7f7f7f;
}

.common-section li {
  list-style: disc;
  font-size: 1em;
  color: #625959;
}

.common-section { padding: 8em 2em; }
.common-section .cell { margin-bottom: 4rem; }

/*Sobre nosotros*/

.nosotros .header { height: 60vh; }

.nosotros .header:before {
  background: #1B2030 url("../img/ilion-analitica-fondo6.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.catalogo .contact-cta {
  background: #1B2030 url("../img/catalogo/catalogo-bottom.jpg") top center no-repeat;
}
