.catalogo .header { height: 60vh; }

.catalogo .header:before {
  background: #1B2030 url("../img/ilion-catalogo-background-img.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.catalogo-lista .cell {
  margin-bottom: 4rem;
}

.catalogo h4 {
  font-weight: bold;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid #7f7f7f;;
}

.catalogo-lista { padding: 8em 0; }

.cell ul {
  padding: 1rem;
  color: #7f7f7f;
}
