/*General Styles*/

header { background-color: black; }

p {
  font-size: 1.1em;
  color: #625959;
}

ul { list-style: none; }

h4 {
  font-size: 1.3em;
  padding: 0 5em 0.7em 5em;
}

/*Desktop Nav*/

nav {
  background-color: #21a8b5;
  color: #ffffff;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav img { width: 10em; }
nav a { color: #ffffff; }
.current { font-weight: 700; }

nav ul {
  float: right;
  margin: 7px 0 0;
}

.desktop-nav li {
  display: inline-block;
  padding-left: 2em;
}

li img {
  display: block;
  margin: 1em auto;
}

/*Mobile Nav*/

.mobile-nav { display: none; }

a.show img {
  float: right;
  width: 20px;
}

.hidden-mobile-nav {
  float: none;
  display: none;
}

.hidden-mobile-nav li{
  padding: 10px;
}

.show-nav { display: block; }

@media screen and (max-width: 39.9375em) {
  .mobile-nav { display: block; }
  .desktop-nav { display: none; }
}

/*Hero Header with Background Image*/

.header {
  align-items: flex-start;
  align-content: flex-start;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.header:after{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
  bottom: 0;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header:before{
  animation: grow 60s  linear 10ms infinite;
  background: #1B2030 url("../img/home-hero.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:-2
}

.header a { color: #ffffff; }

.arrow-down {
  bottom: 3em;
  display: block;
  position: absolute;
  width: 30px;
}

.info {
  flex: 0 0 auto;
  padding: 22vh 0;
  position: absolute;
  text-align: center;
  top: 66.5px;
  width: 100%;
}

.generic-header {
  padding: 10% 0;
  position: absolute;
  top: 66.5px;
  text-align: center;
  width: 100%;
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}

/*Servicios */

.servicios { margin: 10em auto; }
.servicios h2, .servicios li, .servicios p  { text-align: center; }
.servicios ul { margin: 0; }

.servicios p {
  color: #7f7f7f;
  padding: 0 1rem;
}

.servicios p:first-of-type { margin-bottom: 2em;}

.servicios img {
  margin: 1.5em auto;
  width: 10em;
}

/*Contact CTA*/

.contact-cta {
  height: 70vh;
  background: #1B2030 url("../img/ilion-analitica-fondo8.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10em 7em;
  text-align: center;
}

.contact-cta h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.5em;
}

/*Marcas Representadas*/

.marcas-representadas {
  padding: 8em;
  text-align: center;
}

.marcas-representadas img { width: 12em; }

.marcas-representadas ul {
  text-align: center;
  margin-bottom: 3em;
}

.marcas-representadas li {
  display: inline-block;
  margin-right: 4em;
}

.marcas-representadas li:last-of-type { margin-right: 0; }

.marcas-representadas a {
  color: #AFB7B7;
  font-size: 1.1em;
  border-bottom: 1px solid #AFB7B7;
}

/*Footer*/

footer {
  background-color: #21A8B5;
  padding: 5em 2em;
}

footer a {
  color: #ffffff;
  display: block;
  padding-bottom: 5px;
}

.footer-left img {
  margin-right: 10px;
  width: 20px;
}

.footer-right { text-align: right; }
.footer-right @media screen and (max-width: 39.9375em) { text-align: center; }
.mision-vision { padding: 7em 2em 0; }

/*Small Media Queries*/

@media screen and (max-width: 39.9375em) {
  .contact-cta h2 {
    font-size: 1.5em;
  }

  .info { padding: 7em 0 2em; }
  .info h1 { font-weight: 700; }

  .info h4 {
    font-size: 1.2em;
    padding: 1em 1em;
  }

  .contact-cta { padding: 7em 3em; }
  .servicios { margin: 5em auto; }

  footer,
  footer a,
  .footer-right { text-align: center; }

  button {  margin: 1.5em 0; }
  .marcas-representadas { padding: 2em; }
  .marcas-representadas ul { margin: 0 0 1em; }

  .marcas-representadas li {
    margin: 0;
    display: block;
  }

  .show img { padding: 7px 0; }
  .generic-view h1 { font-weight: 700; }
  .generic-view .header { height: 50vh; }
  .generic-header { padding: 37.5% 0; }
}
